$backround:rgb(186,45,101);

$header-padding-mobil: 5.5em;

$text-margin:3em;

$intre-text:-1.2em;

$border:0.1em solid black;

$fontsize: 4.5em;
$fontsize2:3.5em;

$but-backround:rgb(192,66,115);

$square:1.8em;
$square-tab: 3em;
$square-pc:1.5em;