@import "mixins";

body {
  font-family: "Amatic SC";
}

.header {
  background-color: #ba2d65;
  @include fonts;
  font-weight: bolder;
}

a.btn {
  background-color: #ba2d65;
  font-size: 45px;
  color: #000;
}

.match {
  @include fonts;
  font-weight: bolder;
}

.table-game {
  position: relative;
}

.show-winner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  font-size: 180px;
  display: none;
}

.show-winner-button {
  font-size: 70px;
  font-weight: bold;
}

.first-row, .second-row, .third-row {
  margin-bottom: 3px;
}

.table-game a {
  display: inline-block;
  width: 220px;
  height: 220px;
  line-height: 220px;
  border: 1px solid black;
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
}

.selected {
  background-color: rgba(98, 114, 123, 0.5);
}

@media screen and (min-width: 992px){
  .header, .btn, .match {
    font-size: 30px;
  }

  .table-game a {
    width: 140px;
    height: 140px;
    line-height: 140px;
  }

  .table-game {
    padding: 0;
  }
}

